<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graduate Student Tracking System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">
Graduate Student Tracking System
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Courses</h5>
                    <p class="card-text">Some text here.</p>
                    <div class="mb-3">
                        <label for="programSelect" class="form-label">Program</label>
                        <select class="form10-select form-select" aria-label=".form-select example" id="programSelect"
                                required>
                            <option value="msls">MSLS</option>
                            <option value="msis">MSIS</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="specializationSelect" class="form-label">Specialization</label>
                        <select class="form10-select form-select" aria-label=".form-select example"
                                id="specializationSelect"
                                required>
                            <option value="0">None</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="capstoneSelect" class="form-label">Capstone Track</label>
                        <select class="form10-select form-select" aria-label=".form-select example" id="capstoneSelect"
                                required>
                            <option value="research">Independent Research</option>
                            <option value="practicum">Practicum Experience</option>
                        </select>
                    </div>
                    <div class="mb-3 row">
                        <label for="subjectSelect" class="form-label">Course</label>
                        <div class="col-5">
                            <select class="form10-select form-select" aria-label=".form-select example"
                                    id="subjectSelect" required>
                                <option value="inls">INLS</option>
                                <option value="comp">COMP</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form10-select form-select" aria-label=".form-select example"
                                    id="courseSelect" required>
                                <option value="000">000</option>
                                <option value="001">001</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button onclick="addCourse()" class="btn btn-primary mb-3">Add</button>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary mb-3">Generate Degree Audit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Selected Courses</h5>
                    <p class="card-text">Some text here.</p>
                    <ul class="mb-3 list-group list-group-flush" id="courseSection">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Degree Audit</h5>
                    <p class="card-text">Some text here.</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

<script>
    function addCourse() {
        const removeButton = document.createElement("button");
        const removeButtonText = document.createTextNode("Remove");
        const courseSection = document.getElementById("courseSection");
        const courseNode = document.createElement("li");
        const subject = document.getElementById("subjectSelect");
        const course = document.getElementById("courseSelect");
        const courseNodeText = document.createTextNode(subject.options[subject.selectedIndex].text + " " + course.options[course.selectedIndex].text);
        courseNode.className = "list-group-item";
        removeButton.className = "btn btn-danger btn-sm right";
        removeButton.addEventListener("click", function () {
            courseSection.removeChild(courseNode);
        });
        courseNode.append(courseNodeText);
        removeButton.append(removeButtonText);
        courseNode.append(removeButton)
        courseSection.appendChild(courseNode);
    }
</script>