.right {
  float: right;
}

.center {
  display: inline-block;
}

body {
  background: #d5ecfc;
}

h3 {
  padding: 20px 30px;
  font-size: 30px;
}

h5 {
  padding: 20px 20px;
  font-size: 23px;
  font-weight: 500;
  color: #13294b;
}

.container {
  padding: 10px 30px;
}

.card {
  border: 0;
  border-radius: 0.75rem;
}

.text-center {
  padding: 0px;
}

.button-81 {
  background-color: #1e293b;
  color: rgb(245, 238, 238);
  border: 0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 1rem;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #6592d9;
  color: #1e293b;
}

.button-add {
  background-color: #aae7fa;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  text-align: center;
  cursor: pointer;
}

.button-add:hover {
  background-color: #52cff6;
}

.button-add:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.btn-remove {
  background-color: #b3babd;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  text-align: center;
  cursor: pointer;
}

.btn-remove:hover {
  background-color: #dfdede;
}

.table-responsive {
  border: 0;
  border-radius: 0.5rem;
}

.table-warning {
  height: 50px;
  background: #36304a;
  --bs-table-bg: 0;
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
}

.table-success {
  --bs-table-bg: #e0ecf3;
  text-align: center;
  vertical-align: middle;
}

.table-primary {
  border-color: transparent;
  --bs-table-bg: #bfcbe1;
  text-align: center;
  vertical-align: middle;
}

.table-info {
  border-color: transparent;
  --bs-table-bg: #c6dce9;
  text-align: center;
  vertical-align: middle;
}

.table-secondary {
  border-color: transparent;
  --bs-table-bg: #e9edf7;
  text-align: center;
  vertical-align: middle;
}

.table-dark {
  border-color: transparent;
  --bs-table-bg: #b3cde1;
  text-align: center;
  vertical-align: middle;
  --bs-table-color: rgb(1, 1, 1);
}

.tb-center {
  text-align: center;
  vertical-align: middle;
}

.info-card {
  margin: 5px 15px;
}

.card-title {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.card-content {
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-back {
  background-color: #aae7fa;
  border: 0;
  border-radius: 0.5rem;
  margin: 10px 10px;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  text-align: center;
  cursor: pointer;
}

.button-back:hover {
  background-color: #52cff6;
}

.button-print {
  background-color: #e5f5a6;
  border: 0;
  border-radius: 0.5rem;
  margin: 10px 10px;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  text-align: center;
  cursor: pointer;
}

.button-print:hover {
  background-color: #dfee58;
}

.warning1 {
  color: #f4ae17;
  font-size: 18pt;
}

.warning2 {
  color: red;
  font-size: 18pt;
}

.check {
  color: green;
  font-size: 18pt;
}

.fa-question-circle {
  font-size: 18px;
  color: #fefed4;
  padding-top: 3px;
  padding-left: 5px;
  cursor: pointer;
}

.one-line {
  display: flex;
}

.popup-container {
  display: none;
  position: absolute;
  z-index: 999;
  right: 10%;
  top: 70px;
  opacity: 0.7;
}

.popuptext {
  width: 150px;
  background-color: #eef4f4;
  color: black;
  text-align: left;
  font-size: 1 rem;
  font-weight: normal;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
}

.popup-container:hover .popuptext {
  visibility: visible;
}

.popuptext-arrow {
  position: absolute;
  top: 98%;
  left: 15%;
  margin-left: -10px;
  transform: rotate(180deg);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #eef4f4;
}
