html {
  font-size: 16px;
}

body {
  background-image: url("manning1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2vh;
  font-size: clamp(0.75rem, 0.6483rem + 0.5085vw, 1.125rem);
}

body.fixed-background {
  background-attachment: fixed;
}

h3 {
  font-size: clamp(1rem, 0.678rem + 1.6102vw, 2.1875rem);
}

h4 {
  font-size: clamp(0.9375rem, 0.768rem + 0.8475vw, 1.5625rem);
}

.container {
  padding: 1vh 1vw;
}

.block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3vh;
  gap: 2vw;
  width: 100%;
}

.card {
  flex: 1;
  flex-wrap: wrap;
  border: 0;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 1rem;
  width: 100%;
  overflow: scroll;
  display: flex;
  gap: 1vh;
}

select {
  font-size: clamp(0.75rem, 0.6483rem + 0.5085vw, 1.125rem);
}

form,
ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

form div {
  margin-bottom: 1vh;
}

ul,
li {
  background-color: transparent;
  list-style: none;
  padding: 0;
}

.list-group-item {
  border-bottom: rgba(205, 205, 205, 0.7) solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
  margin-bottom: 1vh;
  padding: 0.5vh 0;
  align-items: center;
}

.form-row,
.extra-form-row *,
.one-line {
  display: flex;
  align-items: center;
  gap: 2vw;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;
  overflow: scroll;
}

.one-line {
  margin-top: 5px;
}

.note {
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.extra-form-row {
  display: none;
  flex-direction: column;
}

.center {
  text-align: center;
  vertical-align: middle;
}

/*---------Button Style----------*/
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  width: fit-content;
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.button-show {
  text-decoration: underline;
  color: rgb(54, 121, 255);
  padding: 0;
  padding-left: 0.4rem;
}

.button-submit {
  background-color: #1e293b;
  color: white;
  border-radius: 1.5rem;
  padding: 10px 15px;
  touch-action: manipulation;
}

.button-submit:hover {
  background-color: #5b8ad5;
  color: black;
}

.button-add,
.button-back {
  background-color: #aae7fa;
  width: fit-content;
}

.button-add:hover,
.button-back:hover {
  background-color: #52cff6;
}

.btn-remove {
  background-color: #b3babd;
}

.btn-remove:hover {
  background-color: #dfdede;
}

.button-print {
  background-color: #dbf17f;
}

.button-print:hover {
  background-color: #d5e640;
}
/*---------Degree Audit----------*/

.table-responsive {
  border: 0;
  border-radius: 0.5rem;
  width: 100%;
  font-size: clamp(0.75rem, 0.6483rem + 0.5085vw, 1.125rem);
}

table,
table * {
  border-color: transparent;
  text-align: center;
  vertical-align: middle;
  border: 0;
}

.table-warning {
  height: 50px;
  background: #36304a;
  --bs-table-bg: 0;
  color: #fff;
  line-height: 1.2;
}

.table-success {
  --bs-table-bg: #e0ecf3;
  border-bottom: solid 1.5px rgba(6, 53, 111, 0.106);
}

.table-primary {
  --bs-table-bg: #bfcbe1;
}

.table-info {
  --bs-table-bg: #c6dce9;
}

.table-secondary {
  --bs-table-bg: #e9edf7;
}

.table-dark {
  --bs-table-bg: #b3cde1;
  --bs-table-color: rgb(1, 1, 1);
  border: 0;
}

td {
  border: solid 1.5px rgba(6, 53, 111, 0.106);
  border-left: 0;
}

.warning1 {
  color: #f4ae17;
  font-size: 20px;
}

.warning2 {
  color: red;
  font-size: 20px;
}

.check {
  color: green;
  font-size: 20px;
}

.left {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .block {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
}

@media print {
  body {
    background: rgb(255, 255, 255);
    border: 1px dashed rgb(0, 0, 0, 0.5);
    background-attachment: scroll;
  }

  .card {
    background-color: rgba(255, 255, 255);
  }

  .top,
  .operate {
    display: none;
  }
}